<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon"/>
    <link rel="icon" type="image/x-icon" href="https://th.bing.com/th/id/OIP.StKIboJQap5_xtmIFlWLlAHaEo?pid=ImgDet&rs=1">

    <!-- for-mobile-apps -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="utf-8">
    <meta content="Agro Harvest Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
          name="keywords"/>

    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

    </script>

    </body>
    <!-- css files -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css'/>
    <!-- bootstrap css -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css'/>
    <!-- custom css -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet"><!-- fontawesome css -->
    <!-- //css files -->


    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Thasadith:400,400i,700,700i&amp;subset=latin-ext,thai,vietnamese"
          rel="stylesheet">
    <!-- //google fonts -->

    <style>
		header {
			background-color: rgba(30, 30, 30, 1);
			margin-top: 0rem;
			display: block;
		}

    </style>
</head>

<body>


{% block body %} {% endblock %}


<!-- move top icon -->
<a class="move-top text-center" href="#home"></a>
<!-- //move top icon -->
</body>

</html>